<% project.each do |proj| %>
    <div class="col-md-3 col-sm-6 text-center">
      <%= link_to [@authority, proj] do%>
      <%= content_tag :h5, "#{proj.title}"%>
      <%= image_tag url_for(:controller => "photos", :action => "show_project", :project_id=>proj.id), class: "img-fit img-rounded"%>
      <% end %>
    </div>
<% end %>
