<div class='col-sm-4 col-md-3 col-xs-6 text-center'>
    <%= link_to [@authority, paper] do%>
      <%= content_tag :h5, "#{paper.title}", class: "shadow"%>
      <%= image_tag url_for(:controller => "photos", :action => "show_paper", :paper_id=>paper.id)%>
    <% end %>
</div>
