<div class="footer text-center">
  <h4>Dr. Jell's Labs <span class="glyphicon glyphicon-copyright-mark"></span></h4>
  <div class="col-md-4 col-sm-4 col-xs-12">
        <hr>
        <li><%= link_to "Projects", "/#prj"%></li>
        <li><%= link_to "Papers", "/#ppr"%></li>
        <li><%= link_to "Photos", "/#phts"%></li>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-12">
    <hr>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-12">
    <hr>
    <li><%= link_to "Contact", "/#cnts"%></li>
  </div>
</div>
