<div class="container footer text-center">
 <div class="col-md-offset-3 col-sm-offset-3 col-md-3 col-sm-3 col-xs-12">
    <h5><%= link_to "Projects", "/#prj"%></h5>
    <h5><%= link_to "Papers", "/#ppr"%></h5>
    <h5><%= link_to "Photos", "/#phts"%></h5>
    <hr>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-12">
    <h5><%= link_to "Contact", "/#cnts"%></h5>
    <hr>
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12">
    <h4>Dr. Jell's Lab <span class="glyphicon glyphicon-copyright-mark"></span></h4>
  </div>
</div>
